html {
    font-size: 14px;
}
/* 
body {
    font-family: var(--font-family);
    font-weight: normal;
    background: var(--surface-ground);
    color: var(--text-color);
    padding: 1rem;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
} */


.p-dataview .p-dataview-header, .p-dataview .p-dataview-content {
  background: none !important;
}


h1,
h2,
h3,
h4,
h5,
h6 {
  margin:1.5rem 0 1rem;
  font-family:inherit;
  font-weight:600;
  line-height:1.2
}
h1:first-child,
h2:first-child,
h3:first-child,
h4:first-child,
h5:first-child,
h6:first-child {
  margin-top:0
}
h1 {
  font-size:2.5rem
}
h2 {
  font-size:2rem
}
h3 {
  font-size:1.75rem
}
h4 {
  font-size:1.5rem
}
h5 {
  font-size:1.25rem
}
h6 {
  font-size:1rem
}
.layout-sidebar {
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 300px;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    transition: transform .4s cubic-bezier(.05,.74,.2,.99);
    display: flex;
    flex-direction: column;
    padding: 1rem 0;
}
.card {
    border-radius: 8px;
    background: var(--surface-card);
    padding: 16px;
    box-sizing: border-box;
    margin-bottom: 16px;
  }
  .frame {
    border-radius: 8px;
    /* background: var(--surface-card); */
    padding: 16px;
    box-sizing: border-box;
    margin-bottom: 16px;
  }
.layout-content {
    margin-left: 250px;
    padding-top: 5rem;
    z-index: 2;
    position: relative;
}

.layout-content .layout-content-inner {
    padding: 2rem 4rem;
    display: flex;
    flex-direction: column;
    height: 100%;
    min-height: calc(100vh - 70px);
  }

body {
    margin: 0;
    padding: 0;
}

.layout-dark {
    background: linear-gradient(180deg, #2e323f, #0a061a);
    /* background-image: url(/effect-ondark.png); */
    min-height: 100vh;
}

.layout-container::before {
    min-height: 100vh;
    height: 100%;
    width: 100%;
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    background-image: url(/effect-ondark.png);
    background-repeat: no-repeat;
    z-index: 0;
    pointer-events: none;
}
p {
    margin:0;
    padding: 100px;
    font-size: 20px;
    line-height: 1.8;
}
.grid {
    z-index: 99;
}